@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Open+Sans&display=swap');
body {
  font-family: 'Jetbrains Mono';
}

/* DOING THE HOVER TEXT TRANSITION */

a:hover {
  text-decoration: underline;
}

h1.header {
  font-size: 4em;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

h1 span span:hover {
  color: #CCCCCC;
  transition: color 0s;
}

h1 span span:nth-of-type(even):hover {
  color: rgb(24, 117, 173);
}

h1 span span {
  transition: 0.4s;
}
/* CREATE NOTE DESIGN */
.create {
  max-width: 600px;
  margin: 0 auto;
}
.create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: "border-box";
}
.create button {
  background-color: rgb(24, 117, 173);
  color: white;
  border: 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

/* READ NOTE DESIGN */
.read {
  max-width: 600px;
  margin: 0 auto;
}

.read button {
  background-color:rgb(24, 117, 173);
  color: white;
  border: 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

/* FLASH CARD */
.flashCard{
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-color: black;
}
